@model IList<Template.Models.Module>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            @if (Model.Any())
            {
                var controllerName = ViewContext.ParentActionViewContext.RouteData.GetRequiredString("controller");
                var actionName = ViewContext.ParentActionViewContext.RouteData.GetRequiredString("action");
                
                foreach (var module in Model.OrderBy(x => x.Order))
                {
                    <li class="@(module.Contains(controllerName, actionName) ? "active" : "")">
                        <a href="@(module.DefaultFunctionality == null ? "javascript:;" : Url.Action(module.DefaultFunctionality.Action, module.DefaultFunctionality.Controller))">
                            @if (!string.IsNullOrWhiteSpace(module.CssClass))
                            {
                                <i class="fa @module.CssClass fa-fw"></i>
                            } @module.Name
                        </a>
                        @if (module.Childs.Any())
                        {
                            <ul class="nav nav-second-level">
                                @foreach (var child in module.Childs.OrderBy(x => x.Order))
                                {
                                    <li>
                                        <a href="@Url.Action(child.DefaultFunctionality.Action, child.DefaultFunctionality.Controller)">@child.Name</a>
                                    </li>
                                }
               
                            </ul>
                        }
                    </li>
                }
            }
            <li>
                <a href="@Url.Action("Index", "Logoff")"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>